
<%if(noticia.length > 0) {%>

    <%for(var i=0; i < noticia.length; i++){ %>
        <div class="corpo-noticia">
            <h1 class="titulo-noticia"><%=noticia[i].titulo%></h1>
            <p class="autor-noticia"><%=noticia[i].autor%></p>
            <p class="data-noticia"><%=format(noticia[i].data_noticia)%></p>
            <p class="text-noticia"><%=noticia[i].noticia%></p>
        </div>
    <%}%>

<%}%>